<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title}} | marty.js</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/docs.css">

    <script type="text/javascript" src="/js/codemirror.js"></script>
  </head>
  <body>
    {% include header.html %}
    
    {{content}}
    
    {% include footer.html %}
    {% include ga.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/headings.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
